<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap 4 Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="index.css">
</head>
<body>

<div class="container">
  <h1>Machine Learning APP</h1>
  <p>Copie e cole a url da imagem abaixo:</p>
  <form action="/" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="https://..." name="url_image">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
    <p><b>Teste com:</b> <span>https://images.unsplash.com/photo-1561312176-5aedf7172115?ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80</span></p>
  </div>

</body>
</html>